.page-header .rd-navbar-nav {
    text-align: left;
}

/* WP Block Column */
.wp-block-column .shell {
    padding-left: 0;
    padding-right: 0;
}

/* Block: Grilla noticias */
html.lt-ie-10 * + .range, * + .range.block-grilla-noticias {
    margin-top: 30px;
}