.page-header .rd-navbar-nav {
    text-align: left;
}
.meta-list li:after {
    content: ' - ';
}
.header-banner {
    padding-bottom: 0;
}

/* Breadcrumbs */
.breadcrumb-custom-type-1 > li {
    display: inline !important;
}
.breadcrumb-custom-type-1 .breadcrumb_last:before {
    padding: 0 10px;
    content: "/";
    color: #888a8c;
}

/* WP Block Column */
.wp-block-column .shell {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 992px) {
    .section-left-sidebar .section-xs:nth-child(1) {
        padding-top: 0;
    }
}

/* Block: Grilla noticias */
html.lt-ie-10 * + .range, * + .range.block-grilla-noticias {
    margin-top: 30px;
}

/* Block: Newsletter */
.block-form-newsletter script + style + div {
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}
.block-form-newsletter .subscription-form-control {
    text-align: left !important;
}
.block-form-newsletter input.subscription-form-text[name=captchaCode] {
    width: auto !important;
    height: 40px !important;
    min-height: 40px !important;
    font-size: 13px !important;
}
.block-form-newsletter .subscription-form-control > img {
    max-width: 60%;
}
.block-form-newsletter div.subscription-form-control > label.subscription-form-control {
    display: inline-block !important;
}
.block-form-newsletter .subscription-form-feedback {
    background-color: #f1f1f1 !important;
}

/* Single */
.post-content h1 + * {
    margin-top: 10px;
}

/* Related posts */
.rel-posts .elem-item {
    margin-top: 30px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

/* Pagination */
.pagination-custom .current {
    color: #fff;
    background-color: #c9000a;
    border-color: #c9000a;
    box-shadow: none;
}
.pagination-custom > li > .dots:hover {
    color: #4a4a4a !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

/* Search */
body.search {
    background: inherit;
    color: inherit;
}

/* Txt no results */
.txt-noresults {
    margin-bottom: 50px;
}
.txt-noresults p {
    text-align: left;
}
.txt-noresults .gohome {
    font-style: italic;
    font-weight: bold;
}

/* Fix banner link y menu right */
.banner .custom_banners_big_link {
    z-index: 10;
}